<section class="background-img">
  <div class="container-fluid justify-content-center">
    <div class="row">
      <div class="offset-sm-3 col-sm-6 col-12 header-row main-text">
        <div class="card white-background">
          <div class="card-body">
            <div class="text-center">
              <h1>Daj sobie wolne!</h1>
              <p>Włoskie lody? Zdjęcie pod Wieżą Eiffla? Czy spacer po Oxford Street? </p>
              <p>Sprawdż nasze propozycje i zdecyduj, gdzie spędzić weekend.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-information mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-12 my-3">
            <div class="card h-100">
              <img src="./assets/img/50A9252-min.jpg" class="card-img-top" alt="Wieża Eiffla">
              <div class="card-body">
                <h5 class="card-title">Rzym</h5>
                <p class="card-text">Gelato? Czyli ranking najlepszych Włoskich deserów.</p>
                <a href="./sites/Rzym.html" class="btn btn-primary">Rzym</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 my-3">
            <div class="card h-100">
              <img src="./assets/img/back.jpg" class="card-img-top" alt="Wieża Eiffla">
              <div class="card-body">
                <h5 class="card-title">Paryż</h5>
                <p class="card-text">Krok po kroku, bez pośpiechu - 10 miejsc do zwiedzenia w Paryżu.</p>
                <a href="./sites/Paryz.html" class="btn btn-primary">Paryż</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 my-3">
            <div class="card h-100">
              <img src="./assets/img/london-food-tours-and-tastings.jpg"
                   class="card-img-top"
                   alt="...">
              <div class="card-body">
                <h5 class="card-title">Londyn</h5>
                <p class="card-text">Sprawdź, co warto zjeść w Londynie!</p>
                <a href="./sites/Londyn.html" class="btn btn-primary">Londyn</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-12 my-3">
            <div class="card h-100">
              <img src="./assets/img/Macaron-Paryż.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Galeria</h5>
                <p class="card-text">Zobacz naszą galerię.</p>
                <a href="./sites/Galeria.html" class="btn btn-primary">Galeria</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 my-3">
            <div class="card h-100">
              <img src="./assets/img/mobile-phone-eiffel-tower-blog.jpg"
                   class="card-img-top"
                   alt="...">
              <div class="card-body">
                <h5 class="card-title">Kontakt</h5>
                <p class="card-text">Masz pytania? Zapraszamy do kontaktu.</p>
                <a href="./sites/Kontakt.html" class="btn btn-primary">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
