<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="fw-bold">Galeria</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/Macaron-Paryż.jpg"
         data-lightbox="example-set"
         data-title="Click the right half of the image to move forward."><img class="example-image"
                                                                              src="../assets/img/Macaron-Paryż.jpg"
                                                                              alt=""/></a>
    </div>
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/50A9252-min.jpg"
         data-lightbox="example-set"
         data-title="Or press the right arrow on your keyboard."><img class="example-image"
                                                                      src="../assets/img/50A9252-min.jpg"
                                                                      alt=""/></a>
    </div>
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/back.jpg"
         data-lightbox="example-set"
         data-title="The next image in the set is preloaded as you're viewing."><img class="example-image"
                                                                                     src="../assets/img/back.jpg"
                                                                                     alt=""/></a>
    </div>
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/eiffel.jpg"
         data-lightbox="example-set"
         data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image" src="../assets/img/eiffel.jpg" alt=""/></a>
    </div>
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/lody-wloskie-gelato.jpg"
         data-lightbox="example-set"
         data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image" src="../assets/img/lody-wloskie-gelato.jpg" alt=""/></a>
    </div>
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/Londyn.jpg"
         data-lightbox="example-set"
         data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image" src="../assets/img/Londyn.jpg" alt=""/></a>
    </div>
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/london-food-tours-and-tastings.jpg"
         data-lightbox="example-set"
         data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image" src="../assets/img/london-food-tours-and-tastings.jpg" alt=""/></a>
    </div>
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/mobile-phone-eiffel-tower-blog.jpg"
         data-lightbox="example-set"
         data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image" src="../assets/img/mobile-phone-eiffel-tower-blog.jpg" alt=""/></a>
    </div>
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/Rzym-DSC02533.jpg"
         data-lightbox="example-set"
         data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image" src="../assets/img/Rzym-DSC02533.jpg" alt=""/></a>
    </div>
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/secret-food-tours-london-shoreditch.jpg"
         data-lightbox="example-set"
         data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image" src="../assets/img/secret-food-tours-london-shoreditch.jpg" alt=""/></a>
    </div>
    <div class="col-sm-3 col-12 my-4">
      <a class="example-image-link"
         href="../assets/img/Secret-Food-Tours-Shoreditch-Sunday-Food-Tour-7.jpg"
         data-lightbox="example-set"
         data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image"
             src="../assets/img/Secret-Food-Tours-Shoreditch-Sunday-Food-Tour-7.jpg"
             alt=""/></a>
    </div>
  </div>
</div>
